[run]
branch = True
omit=
    env/*
    tests/*
    */virtualenv/*
    *__init.py__*


[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    def __init__
    def __getitem__
    def __iter__
    def __len__
    def __next__
    def __repr__
    def __reversed__
    def __hash__
    def __str__
    if __name__ == .__main__.:
    pass

ignore_errors = True